.channel .channel__banner {
    width: 100%;
    max-height: 14rem;
    aspect-ratio: 16 / 9;
    background-color: black;
}

.channel .videos {
    place-content: start;
    margin: 0;
    margin-block: 1em;
}