.channel .channel__banner {
    min-width: 100%;
    max-height: 14rem;
    aspect-ratio: 16 / 9;
    background-color: black;
}

/* Channel About */
.channel .channel__about {
    margin-top: 1.5em;
}

.channel .channel__description {
    margin: 1em;
}

.channel .channel__user-details {
    margin-block: 1em;
}

.channel .channel__user-details .detail__key {
    font-weight: bolder;
    padding: 0.5em;
    text-transform: uppercase;
    background-color: var(--bg-secondary);
    color: var(--txt-muted);
}

.channel .channel__stats {
    padding: 1em;
    background-color: var(--bg-secondary);
    border-radius: 6px;
}

/* Media Queries */
@media(max-width: 768px) {
    .channel .channel__details {
        flex-direction: column;
        gap: 1em;
    }

    .channel .channel__user-details > * {
        display: flex;
        flex-direction: column;
    }

    .channel .channel__user-details .detail__key {
        border-bottom: 1px solid var(--txt-muted);
    }

    .channel .channel__about {
        text-align: center;
        flex-direction: column;
        gap: 1em;
    }
}