.context-menu-container {
    outline: 0;
}

.context-menu {
    position: absolute;
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--txt-primary);
    padding: 0.2em;
    background-color: var(--bg-secondary);
    z-index: 999999;
}

.context-menu-container:is(:hover, :focus, :focus-within) > .context-menu {
    visibility: visible;
}

.context-menu .menu__option {
    font-size: var(--fs-400);
    font-weight: bold;
    padding: 0.5em;
    white-space: nowrap;
    cursor: pointer;
}

.context-menu.small .menu__option {
    font-size: calc(var(--fs-400) * 0.8);
}

.context-menu .menu__option:is(:hover) {
    background-color: var(--bg-hov);
}