.main-container {
    display: grid;
    max-width: 1300px;
    margin: 0.25em auto;
}

.video-tab-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
}

.video-tab-container .other-videos {
    margin-inline: 1em;
}

.auth-form-container {
    display: grid;
    grid-template-columns: minmax(30%, 500px);
    place-content: center;
}

@media(max-width: 768px) {
    .main-container {
        margin-inline: 0.75em;
    }

    .video-tab-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }
}