.form__container > * {
    margin-block: 0.55em;
}

.form__container .form__head {
    font-weight: normal;
}

.form__part {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.35em;
}

.form__part .part__label {
    font-size: var(--fs-400);
}

.form__part .part__help-list {
    margin-left: 1.5em;
    list-style: disc;
}


.form__part .part__help-list li {
    color: var(--txt-err);
}

.form__part .part__help-list li::marker {
    color: red;
}

/* Form Completion */
.form__completions {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-block: 2.5em;
    width: 100%;
    height: 8px;
    background-color: var(--txt-muted);
}

.form__completions .form__completion {
    position: absolute;
}

.form__completions .completion > * {
    margin-block: 1.65em;
}

.form__completions .completion::after {
    content: '';
    position: absolute;

    top: 50%;
    transform: translateY(-50%) translateX(-8.25px);
    width: 1rem;
    background-color: var(--inpt-main);
    aspect-ratio: 1;
    border-radius: 100vw;
}