.form__container > *,
.form__container .form__part {
    margin-block: 0.55em;
}

.form__container .form__head {
    font-weight: normal;
}

.form__part {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.65em;
}

.input__parts {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.multiform__form {
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form__part .part__label {
    font-size: var(--fs-420);
    font-weight: lighter;
    margin-bottom: 0.25em;
    border-bottom: 1px solid var(--txt-muted);
}

.form__part .part__help-list {
    margin-left: 1.5em;
    list-style: disc;
}


.form__part .part__help-list li {
    color: var(--txt-err);
}

.form__part .part__help-list li::marker {
    color: red;
}

/* Form Completion */
.form__completions {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-block: 2.5em;
    width: 100%;
    height: 8px;
    background-color: var(--txt-muted);
    border-radius: 7px;
}

.form__completions::before {
    --pct: calc(var(--complete) / var(--completed));
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--inpt-main);
    transform: scaleX(var(--pct));
    transform-origin: left;
    transition: transform 150ms ease-in-out;
}

.form__completions .form__completion {
    position: absolute;
}

.form__completions .completion > * {
    margin-block: 1.65em;
}

.form__completions .completion::after {
    content: '';
    position: absolute;

    top: 50%;
    transform: translateY(-50%) translateX(-8.25px);
    width: 1rem;
    background-color: var(--inpt-main);
    aspect-ratio: 1;
    border-radius: 100vw;
}