@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-400);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Stick footer at the bottom */
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-primary);
    color: var(--txt-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

img[src=""] {
    visibility: hidden;
}

button {
    font-size: var(--fs-450);
    position: relative;
    color: var(--txt-primary);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    color: var(--txt-primary);
    border: 0;
}

textarea {
    min-height: 2.25rem;
}

:focus:not(.no--outline) {
    outline: 2px solid var(--txt-primary);
    outline-offset: 4px;
    border-radius: 6px;
}

:root {
    --fs-400: 1rem;
    --fs-420: 1.2rem;
    --fs-450: 1.5rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;

    --txt-primary: black;
    --txt-muted: hsl(0, 0%, 4%);
    --txt-err: hsl(0, 70%, 51%);

    --clr-link: hsl(196, 89%, 58%);

    --bg-primary: white;
    --bg-hov: hsl(0, 0%, 100%, 0.12);
    --bg-tooltip: black;

    --btn-main: hsl(243, 89%, 54%);
    --btn-light: hsl(0, 0%, 100%, 0.05);
    --btn-hov: hsl(243, 89%, 30%, 0.36);

    --inpt-main: hsl(220, 97%, 45%);
    --inpt-shadow: hsla(220, 97%, 45%, 0.36);
}

@media(prefers-color-scheme: dark) {
    :root {
        --txt-primary: white;
        --txt-muted: hsl(0, 0%, 69%);
        --txt-muted-dark: hsl(0, 0%, 30%);

        --bg-primary: hsl(240, 2%, 4%);
        --bg-secondary: hsl(240, 2%, 12%);
        --bg-tooltip: hsl(0, 0%, 11%);
    }
}