@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fs-400);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Stick footer at the bottom */
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--txt-primary);
    letter-spacing: 0.5px;
    background-color: hsl(var(--bg-primary));
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

button {
    font-size: var(--fs-450);
    color: var(--txt-primary);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

input {
    color: var(--txt-primary);
    border: 0;
}

:focus {
    outline: 2px solid var(--txt-primary);
    outline-offset: 4px;
    border-radius: 6px;
}

:root {
    --fs-400: 1rem;
    --fs-420: 1.2rem;
    --fs-450: 1.5rem;
    --fs-500: 2rem;

    --txt-primary: black;
    --txt-muted: hsl(0, 0%, 20%);

    --bg-primary: 0, 0%, 100%;
    --bg-hov: hsla(0, 0%, 100%, 0.12);

    --btn-main: hsl(221, 96%, 45%);
}

@media(prefers-color-scheme: dark) {
    :root {
        --txt-primary: white;
        --bg-primary: 217, 12%, 13%;
        --bg-secondary: 217, 12%, 6%;
        --txt-muted: hsl(0, 0%, 60%);
    }
}