@import url('globals.css');
@import url('layouts.css');
@import url('utils.css');
@import url('interactibles.css');
@import url('containers.css');
@import url('context-menus.css');
@import url('popup.css');
@import url('modal.css');

@import url('forms.css');
@import url('upload-form.css');

@import url('loader.css');

@import url('navbars.css');
@import url('videos.css');
@import url('video-tab.css');
@import url('video-details.css');
@import url('channel.css');
@import url('search.css');