/* Buttons */
.button--primary,
.button--icon {
    transition: background-color 90ms ease-out, color 90ms ease-out;
}

.button--primary {
    font-size: var(--fs-420);
    padding: 0.3em 0.75em;
    background-color: var(--btn-main);
    border-radius: 1px;
}

.button--icon {
    position: relative;
    color: var(--txt-muted);
}

.button--icon:is(:hover) {
    color: var(--txt-primary);
}

.button--icon.show--after::before {
    content: attr(data-after);
    position: absolute;
    font-size: calc(var(--fs-400) * 0.75);
    font-family: 'Poppins', sans-serif;
    top: 34px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Inputs */
.input--primary {
    font-size: var(--fs-420);
    font-weight: 100;
    padding: 0.3em 1em;
    border: 1px solid var(--txt-muted);
    background-color: hsl(var(--bg-secondary));
    border-radius: 3px;
}

.input--primary:not(.cust) {
    width: 100%;
}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip.span {
    width: 100%;
    height: 100%;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: var(--fs-400);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 0.3em;
    white-space: nowrap;
    background-color: black;
    border-radius: 6px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 120ms ease-out;
    pointer-events: none;
    z-index: 9999999999999;
}

.tooltip.goto--bottom::after {
    top: -30px;
}

.tooltip:hover::after {
    opacity: 1;
}