/* Buttons */
.button--primary,
.button--icon {
    transition: background-color 90ms ease-out, color 90ms ease-out;
}

.button--primary {
    --_bg: var(--btn-main);
    font-size: var(--fs-420);
    text-transform: capitalize;
    padding: 0.1em 0.55em;
    background-color: var(--_bg);
    border-radius: 3px;
    transition: background-color 95ms ease-out, opacity 90ms ease-in-out;
}

.button--primary.btn--hollow {
    background-color: transparent;
    border: 2px solid var(--btn-hov);
}

.button--primary:is(:hover, :focus) {
    background-color: var(--btn-hov);
}

.button--primary.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button--icon {
    position: relative;
    color: var(--txt-muted);
}

.button--icon:is(:hover, .active) {
    color: var(--txt-primary);
}

.button--icon.show--after::before {
    content: attr(data-after);
    position: absolute;
    font-size: calc(var(--fs-400) * 0.75);
    font-family: 'Poppins', sans-serif;
    top: 34px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button--loader {
    visibility: hidden;
    font-size: calc(var(--fs-400) * 0.5);
}

.button--primary.vis--hidden .button--loader {
    visibility: visible;
}

.btn--group {
    display: flex;
    align-items: center;
    gap: 0.85em;
    flex-wrap: wrap;
}

/* Inputs */
.input--primary {
    font-size: var(--fs-420);
    font-weight: 100;
    padding: 0.3em 1em;
    border: 1px solid var(--txt-muted);
    background-color: hsl(var(--bg-secondary));
    border-radius: 3px;
    outline: 0;
}

.input--primary:is(:hover, :focus),
.input--primary.active {
    border-color: var(--inpt-main);
    box-shadow: 0 0 0.5px 3px var(--inpt-shadow);
}

.input--primary:not(.cust) {
    width: 100%;
}

.input--range {
    padding-inline: 0;
}

.input--textarea {
    resize: vertical;
}

/* File Inputs */
.input--file {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.input--label {
    position: relative;
    padding: 0;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
    cursor: pointer;
}

.input--label:not(.cust) {
    width: 100%;
}

.input--label::after {
    content: attr(data-label);
    position: absolute;
    font-size: calc(var(--fs-400) * 0.85);
    font-weight: bold;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}   

.input--label::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
}

.input--label::after,
.input--label::before {
    transition: 100ms opacity ease-out;
}

.input--label:hover::after,
.input--label:hover::before {
    opacity: 1;
}

.label--profile {
    width: 6em;
    aspect-ratio: 1;
}

/* Radio Inputs */
.radio__part.small {
    font-size: calc(var(--fs-400) * 0.85);
    font-weight: bold;
    border: 0;
}

.input--radio--label {
    display: block;
    position: relative;
    width: 2.5em;
    aspect-ratio: 1;
    margin-block: auto;
    border-radius: 50%;
}

.input--radio--label .input--radio {
    display: none;
}

.input--radio--label .input--radio--button {
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--txt-muted-dark);
    transition: background-color 95ms ease-in-out;
}

.input--radio--label .input--radio--button::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 0.5px 6px var(--inpt-shadow);
    transform: scale(0);
    transition: transform 145ms 25ms ease-in-out;
}

.input--radio--label > input:checked + .input--radio--button {
    background-color: var(--inpt-main);
}

.input--radio--label > input:checked + .input--radio--button::after {
    transform: scale(1);
}


/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip.span {
    width: 100%;
    height: 100%;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: var(--fs-400);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 0.3em;
    white-space: nowrap;
    background-color: var(--bg-tooltip);
    border-radius: 6px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 120ms ease-out;
    pointer-events: none;
    z-index: 9999999999999;
}

.tooltip.goto--bottom::after {
    top: -30px;
}

.tooltip:hover::after {
    opacity: 1;
}

/* Misc */
.dashed {
    border-style: dashed;
}

@media(prefers-color-scheme: light) {
    .button--primary:not(.btn--hollow) {
        color: white;
    }

    .button--primary.btn--hollow:hover {
        color: white;
    }

    .tooltip::after {
        color: white;
    }
}