.primary-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos--relative > .primary-loader {
    position: absolute;
}

.loader-404 .loader__text {
    font-size: var(--fs-500);
    color: var(--txt-err);
    white-space: nowrap;
}