/* Main Navbar */
.primary-nav {
    padding: 0.5em 2em;
    max-height: 4.5rem;
    background-color: hsl(var(--bg-secondary));
}

.primary-nav .nav__title {
    font-size: var(--fs-500);
    font-weight: normal;
}

/* Side Navbar */

/* Channel Navbar */
.channel .channel__links {
    font-size: var(--fs-420);
    align-items: center;
    justify-content: center;
}

.channel .channel__links .channel__link {
    padding: 0.4em 0.8em;
    transition: background-color 95ms ease-out;
    cursor: pointer;
}

.channel .channel__links .channel__link:hover {
    background-color: var(--bg-hov);
}

/* Media Queries */
@media(max-width: 768px) {
    .primary-nav #nav-search,
    .nav__btn-group {
        display: none;
    }
}