/* Main Navbar */
.primary-nav {
    padding: 0.5em 2em;
    max-height: 4.5rem;
    background-color: hsl(var(--bg-secondary));
}

.primary-nav .nav__title {
    font-size: var(--fs-500);
    font-weight: normal;
}

/* Side Navbar */

/* Media Queries */
@media(max-width: 768px) {
    .primary-nav #nav-search {
        display: none;
    }
}