.popup {
    position: fixed;
    padding: 0.9em 1em;
    left: 3%;
    bottom: 2%;
    transform: scale(0);
    transform-origin: left bottom;
    background-color: var(--bg-secondary);
    border-radius: 6px;
    transition: transform 100ms ease-out;
    z-index: 999999999999999999;
}

#popup.active {
  transform: scale(1);
}

.popup .popup__header {
    font-size: var(--fs-420);
    color: var(--txt-err);
    margin-bottom: 0.55em;
}