.popup {
    position: fixed;
    padding: 0.9em 1em;
    left: 3%;
    bottom: 2%;
    transform: scale(0);
    transform-origin: left bottom;
    background-color: var(--bg-secondary);
    border-radius: 6px;
    transition: transform 100ms ease-out, opacity 95ms ease-in-out;;
    z-index: 999999999999999999;
}

.popup:hover {
  opacity: 0.95;
  z-index: 0;
}

.popup.active {
  transform: scale(1);
}

.popup .popup__header {
    font-size: var(--fs-420);
    margin-bottom: 0.55em;
}

.popup.error .popup__header {
  color: var(--txt-err);
}

.popup.info .popup__header {
  color: var(--inpt-main);
}