.upload--form .upload__split {
    display: grid;
    grid-template-columns: 512px 2fr;
    margin-block: 0.65em;
    gap: 1.5em;
}

.upload--form .upload__thumbnail-previews {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    place-items: center;
    gap: 0.2em;
    margin-block: 0.75em;
    width: 100%;
}

.upload--form .upload__selected-preview {
    position: absolute;
}

.upload--form .thumbnail__preview {
    width: 244px;
    aspect-ratio: 16 / 9;
    padding: 0;
}

@media(max-width: 768px) {
    .upload--form .upload__split {
        grid-template-columns: 1fr;
    }
}