.round {
    border-radius: 50%;
}

/* Profiles */
.profile {
    width: clamp(2.5em, 6vw, 3em);
    aspect-ratio: 1;
    background-color: black;
    cursor: pointer;
}

/* Skeletons */
.skel {
    background-image: linear-gradient(45deg, rgb(22, 22, 22), rgb(28, 28, 28));
    background-size: 200%;
    animation: skelAnim 3s ease-in-out infinite forwards alternate;
}

@keyframes skelAnim {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

/* Text */
.text--elliptic {
    display: -moz-box;
    max-height: 4rem;
    overflow: hidden;
    line-height: 2rem;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: 2;
}

.txt--muted {
    color: var(--txt-muted);
}

/* Paddings & Margins */
.m--inl--1 {
    margin-inline: 1em;
}

/* Elements */
.dot--split {
    width: 0.25em;
    height: 0.25em;
    background-color: var(--txt-muted);
    border-radius: 50%;
}

.link--muted {
    border-bottom: 1px solid transparent;
}

.link--muted:hover {
    border-bottom: 1px solid var(--txt-muted);
}

/* Misc */
.w--40 {
    width: 40%;
}