.round {
    border-radius: 50%;
}

/* Profiles */
.profile {
    width: clamp(2.5em, 6vw, 3em);
    aspect-ratio: 1;
    background-color: black;
    cursor: pointer;
}

/* Skeletons */
.skel {
    background-image: linear-gradient(45deg, rgb(22, 22, 22), rgb(28, 28, 28));
    background-size: 200%;
    animation: skelAnim 3s ease-in-out infinite forwards alternate;
}

@keyframes skelAnim {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

/* Text */
.text--elliptic {
    max-width: max-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Paddings & Margins */
.m--inl--1 {
    margin-inline: 1em;
}

/* Misc */
.w--40 {
    width: 40%;
}