.round {
    border-radius: 50%;
}

.hidden {
    display: none;
}

.vis--hidden {
    visibility: hidden;
}

.curs--point {
    cursor: pointer;
}

/* Profiles */
.profile {
    --_min: 2.5em;
    --_between: 6vw;
    --_max: 3em;
    
    width: clamp(var(--_min), var(--_between), var(--_max));
    aspect-ratio: 1;
    background-color: black;
    cursor: pointer;
}

/* Skeletons */
.skel {
    background-image: linear-gradient(45deg, rgb(22, 22, 22), rgb(28, 28, 28));
    background-size: 200%;
    animation: skelAnim 3s ease-in-out infinite forwards alternate;
}

@keyframes skelAnim {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

/* Text */
.text--elliptic {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.txt--muted {
    color: var(--txt-muted);
}

.txt--center {
    text-align: center;
}

.txt--sm {
    font-size: calc(var(--fs-400) * 0.8);
}

/* Paddings & Margins */
.m--inl--1 {
    margin-inline: 1em;
}

.mb--1 {
    margin-bottom: 1em;
}

.mb--015 {
    margin-bottom: 0.15em;
}

.mt--1 {
    margin-top: 1em;
}

.mi--inline {
    margin-inline: auto;
}

/* Elements */
.dot--split {
    width: 0.25em;
    height: 0.25em;
    background-color: var(--txt-muted);
    border-radius: 50%;
}

.line--split {
    margin: 0.25em;
    width: 100%;
    height: 1px;
    background-color: var(--txt-muted);
}

.link--muted {
    border-bottom: 1px solid transparent;
}

.link--muted:hover {
    border-bottom: 1px solid var(--txt-muted);
}

/* Fonts */
.font--def {
    font-family: 'Poppins', sans-serif;
}

/* Positions */
.pos--relative {
    position: relative;
}

/* Misc */
.w--40 {
    width: 40%;
}

.w--100 {
    width: 100%;
}