.videos {
    display: grid;
    place-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 280px);
    margin: 1em;
    gap: 0.5em;
    row-gap: 1em;
}

.video {
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

.video .video__thumbnail {
    width: 100%;
    background-color: black;
    aspect-ratio: 16 / 9;
}

.video .video__details {
    gap: 1em;
    margin-top: 0.5em;
}

.video .video__channel-profile {
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
}

.video .video__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    word-break: break-all;
    overflow: hidden;
}

.video .video__channel-name {
    width: max-content;
    color: var(--txt-muted);
}

.video .video__stats {
    font-size: calc(var(--fs-400) * 0.8);
    margin-top: 0.25em; 
    gap: 0.45em;
}

.video #home-video-options {
    position: absolute;
    inset: 10px 10px auto auto;
    visibility: hidden;
    mix-blend-mode: difference;
}

.video:hover #home-video-options {
    visibility: visible;
}