/* Video Player */
.video-player {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
    z-index: 1;
}

.video-player .player__controls {
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0;
    padding-bottom: 0.25em;
    opacity: 1;
    overflow: hidden;
    isolation: isolate;
    transition: opacity 200ms ease-out;
    z-index: 999999999999999;
}

.video-player:is(:focus-within, :hover) .player__controls {
    opacity: 1;
}

.video-player .player__controls::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.768));
    z-index: -1;
}

.video-player .controls__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5em;
    margin-inline: 1em;
}

.video-player .controls__bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--txt-muted);
    cursor: pointer;
}

.video-player .controls__bar .bar__progress {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: red;
    z-index: 1;
}

.video-player .controls__bar .bar__progress#buffer-progress {
    background-color: white;
    z-index: 0;
}

.video-player .controls__options > * {
    display: flex;
    align-items: center;
    gap: 1em;
}

.video-player #video__volume {
    max-width: 25%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 95ms ease-in-out;
}

.video-player .video__volume-button:is(:focus) + #video__volume,
.video-player #video__volume:is(:hover, :focus) {
    transform: scaleX(1);
}